@model knowLib.Models.Usuario

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="d-flex justify-content-end">
    <div class="container mb-3">
        @if (TempData["SuccessMessage"] != null)
        {
            <div id="successAlert" class="alert alert-success shadow-lg  mb-5 bg-body rounded" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div id="errorAlert" class="alert alert-danger shadow mb-5 bg-body rounded" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
    </div>
</div>
    <div class="d-flex justify-content-center">
        <div class="col-md-3">
            <div class="mb-3 text-start">
                @Html.LabelFor(m => m.Nome, htmlAttributes: new { @class = "form-label fs-3" })
                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control w-100" })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger fs-4" })
            </div>

            <div class="mb-3 text-start">
                @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "form-label fs-3" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control w-100" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger fs-4" })
            </div>

            <div class="mb-3 text-start">
                @Html.LabelFor(m => m.Senha, htmlAttributes: new { @class = "form-label fs-3" })
                @Html.PasswordFor(m => m.Senha, new { @class = "form-control w-100" })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger fs-4" })
            </div>

            <div class="mb-3 text-start">
                @Html.Label("Profile", htmlAttributes: new { @class = "form-label fs-3" })
                @Html.DropDownListFor(m => m.profile, ViewBag.Profiles as SelectList, new { @class = "form-control fs-4" })
                @Html.ValidationMessageFor(model => model.profile, "", new { @class = "text-danger fs-4" })
            </div>

            <div class="mb-3 text-start">
                <a type="button" class="btn btn-secondary me-2 fs-4" href="/">Voltar</a>
                <button type="submit" class="btn btn-primary fs-4">Cadastrar-se</button>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            setTimeout(function () {
                var successAlert = document.getElementById('successAlert');
                if (successAlert) {
                    successAlert.style.display = 'none';
                }
                var errorAlert = document.getElementById('errorAlert');
                if (errorAlert) {
                    errorAlert.style.display = 'none';
                }
            }, 5000);
        };
    </script>
}
